extends layouts/main.pug

block content
  main.minecraft-main
    section.minecraft-section.projects-page
      h2.minecraft-title Proyectos 
      .minecraft-projects
        each proyecto in datos.proyectos
          .minecraft-project-card
            if proyecto.imagen
              img(src=`/img/projects/${proyecto.imagen}`, alt=proyecto.nombre)
            .minecraft-project-info
              h3= proyecto.nombre
              p= proyecto.descripcion
              if proyecto.github
                a.minecraft-button(
                  href=proyecto.github,
                  target="_blank",
                  rel="noopener noreferrer"
                ) 
                  i.fab.fa-github  
                  | Ver en GitHub